/* styles.css */
html{
    background-color: #000;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body.dark-mode {
    background-color: #000;
    color: #fff;
}

body.light-mode {
    background-color: #fff;
    color: #000;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: #000;
    color: #e91e63;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
   
}
.navbar a {
    color: #e91e63;
    text-decoration: none;
    padding: 0 15px;
    font-size: 18px;
}
.nav-link.active {
    color: #00d4ff;
}

.navbar a:hover {
    color: #00d4ff;
}


.logo h3 {
    margin: 0;
    font-size: 1.5rem;
    color: #00d4ff;
}

.logo h3 span {
    color: #e91e63;
}

.head-section {
    display: flex;
    align-items: center;

}

.head-section .navbar {
    display: flex;
    text-align: center;
}

.settings {
    position: relative;
    
}

.settings-icon {
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s;
    color: #e91e63;
    animation: rotate 2s infinite linear;
}
@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
.settings-icon:hover {
    color: #00d4ff;
    transition: 2s;
    font-size: 26px;
}

.theme-section {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    background-color: #000;
    border-radius: 5px;
    border-bottom: 3px solid #00d4ff;
    border-left: 3px solid #00d4ff;
    border-right: 3px solid #00d4ff;
    box-shadow: 0 0 10px rgba(42, 71, 81, 0.3)
    , 2px 4px 8px rgb(43, 86, 129);
    z-index: 100;
    width: 200px; 
    margin-top: 45px; 
    text-align: center;
}

.theme-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.theme-header h4 {
    margin: 0;
}

.close-btn {
    font-size: 18px;
    cursor: pointer;
    color: #e91e63;
    text-align: center;
    
}

.close-btn:hover{
    color: #00d4ff;
    transition: 1s;
}
.theme-options {
    display: flex;
    gap: 78%;
}

.theme-options i {
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s;
    margin-top: 20px;
}

.theme-options i:hover {
    color: #e91e63;
}

.theme-options i.active {
    color: #00d4ff;
}
@media (max-width: 768px) {
    .theme-section {
        border: 3px solid #00d4ff;
        
    }
    .settings-icon {
        position: fixed;
        bottom: 20px;
        left: 20px;
        z-index: 101;
        color: #e91e63;
    }

    .theme-section {
        position: fixed;
        top: 73%; 
        left: 20px;
        width: 200px; 
        height: 100px; 
        max-width: 200px;
        max-height: 100px;
        text-align: center;
        z-index: 100;
        overflow: hidden; 
        
    }
}


.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-icon i {
    font-size: 1.5rem;
    color: #00d4ff;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    background-color: #000;
    color: #e91e63;
    box-shadow: 2px 0 5px #00d4ff;
    height: 50vh;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    border-bottom: 4px solid #00d4ff;
    border-bottom-left-radius: 4px;
    border-left: 4px solid #00d4ff;
    border-top-left-radius: 6px;
}

.mobile-menu.open {
    transform: translateX(0);
    display: block;
}

.mobile-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #00d4ff;
}

.mobile-menu-header h3 {
    margin: 0;
    font-size: 1.25rem;
    color: #fff;
}
.mobile-menu-header h3 span{
    color: #00d4ff;
}
.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}



.mobile-menu ul li a {
    display: block;
    padding: 1rem;
    color: #e91e63;
    text-decoration: none;
}

.mobile-menu ul li a:hover {
    background-color: #00d4ff;
}

.close-icon {
    cursor: pointer;
}

.close-icon i {
    font-size: 1.5rem;
    color: #fff;
}

@media (max-width: 768px) {
    .head-section .navbar {
        display: none;
    }
    
    .menu-icon {
        display: block;
        right: 0;
    }
    
}




/* Home Section */

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    height: 100vh;
    margin-bottom: 20px;
   
}
.greeting {
    color: #c2185b;
  
}
.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.left {
    flex: 1;
    padding: 20px;
    animation: fadeInLeft 1.5s ease;
    margin-bottom: 20px;
}

.left h1 {
    font-size: 24px;
    margin-bottom: 10px;
    
 
}
.left .myName{
    color: #00d4ff;
}
.left .myName span{
    color: #e91e63;
}
.typing-subtitle {
    font-size: 1.5rem;
    color: #e91e63;
    height: 40px; 
    overflow: hidden;
}

.left h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.left p {
    font-size: 18px;
    margin-bottom: 30px;
}
.call-btn a{
    text-decoration: none;
    color: #fff;
}
.cv-btn a{
    text-decoration: none;
    color: #fff;
}
.cv-btn, .call-btn {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background: linear-gradient(135deg, #e91e63, #f48fb1); 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden; 
    transition: background 0.3s, transform 0.3s;
}

.cv-btn::before, .call-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.3), transparent 70%);
    opacity: 0.5;
    pointer-events: none; 
    transition: opacity 0.3s;
}

.cv-btn:hover::before, .call-btn:hover::before {
    opacity: 0; 
}

.cv-btn:hover, .call-btn:hover {
    background: #c2185b;
    transform: scale(1.05);
    box-shadow: 
    1px 1px 2px rgba(0, 0, 0, 0.4), 
    -1px -1px 2px rgba(255, 255, 255, 0.8), 
    4px 4px 8px rgba(0, 0, 0, 0.5), 
    -4px -4px 8px rgba(255, 255, 255, 0.4), 
    0 0 10px 5px rgba(0, 212, 255, 0.8), 0 0 20px 10px rgba(0, 212, 255, 0.5); 
}


.right {
    flex: 1;
    padding: 20px;
    text-align: center;
    animation: fadeInRight 1.5s ease;
}

.right h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.social-icon {
    margin: 0 10px;
    font-size: 24px;
    color: #fff;
    background-color: #e91e63;
    border-radius: 50%; 
    padding: 10px; 
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s;
    position: relative; 
    overflow: hidden;
    align-items: center; 
    justify-content: center; 
    box-shadow: 
        1px 1px 2px rgba(0, 0, 0, 0.3), 
        -1px -1px 2px rgba(255, 255, 255, 0.7), 
        3px 3px 6px rgba(0, 0, 0, 0.4),
        -3px -3px 6px rgba(255, 255, 255, 0.3); 
    width: 25px; 
    height: 25px; 
}

.social-icon::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(233, 30, 99, 0.5), transparent 70%);
    opacity: 0.6;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s;
    z-index: -1;
}

.social-icon:hover::before {
    background: radial-gradient(circle, rgba(0, 212, 255, 0.5), transparent 70%);
}

.social-icon:hover {
    transform: scale(1.2);
    color: #00d4ff; 
    background-color: #c2185b; 
    box-shadow: 
        1px 1px 2px rgba(0, 0, 0, 0.4), 
        -1px -1px 2px rgba(255, 255, 255, 0.8), 
        4px 4px 8px rgba(0, 0, 0, 0.5), 
        -4px -4px 8px rgba(255, 255, 255, 0.4), 
        0 0 10px 5px rgba(0, 212, 255, 0.8), 0 0 20px 10px rgba(0, 212, 255, 0.5); 
}

.profile-pic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 4px solid #00d4ff;
    transition: transform 0.3s;
}

.profile-pic:hover {
    transform: scale(1.1);
    box-shadow: 
    0 0 25px 8px rgba(255, 0, 0, 0.6),
    0 0 25px 12px rgba(0, 0, 255, 0.7); 
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 768px) {
    
    .content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .left, .right {
        flex: none;
        width: 100%;
    }

    .left h1 {
        font-size: 24px;
    }

    .left h2 {
        font-size: 30px;
    }

    .cv-btn, .call-btn {
        font-size: 16px;
    }
}
@media (max-width: 420px){
    .home{
        height: 120vh;
    }
}
@media (max-width: 390px){
    .home{
        height: 130vh;
    }
}

/* About */
.about {
    padding: 50px 0;
    
}

.container {
    width: 80%;
    margin: 0 auto;
}

.about-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.about-left {
    flex: 1;
    padding: 20px;
    opacity: 0;
    transform: translateX(-50px);
    transition: all 1s ease;
    margin-bottom: 20px;
}

.about-left h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #00d4ff;
}
.about-left h2 span{
    color: #e91e63;
}
.about h4{
    color: #0097a7;
}

.about-left p {
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about-right {
    flex: 1;
    padding: 20px;
    opacity: 0;
    transform: translateX(50px);
    transition: all 1s ease;
}

.skills {
    margin-top: 20px;
}

.skills h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.skill-bar {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.skill-label {
    font-size: 18px;
}

.skill-percentage {
    font-size: 18px;
    text-align: right;
    margin-top: -20px;
}

.progress-bar {
    width: 100%;
    background: #333;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.progress-bar div {
    height: 10px;
    border-radius: 10px;
}

.html {
    width: 85%;
    background: #e44d26;
}

.css3 {
    width: 75%;
    background: #264de4;
}

.javascript {
    width: 90%;
    background: #f0db4f;
}

.cplusplus {
    width: 80%;
    background: #00599C;
}

.c {
    width: 85%;
    background: #A8B9CC;
}

.python {
    width: 65%;
    background: #306998;
}

.graphicdesign {
    width: 65%;
    background: #FF6347;
}


.visible {
    opacity: 1;
    transform: translateX(0) translateY(0);
}

@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
    }

    .experience-grid {
        grid-template-columns: 1fr;
    }
}

#professional-skills {
    text-align: center;
    padding-top: 3px;
}

#professional-skills h2 {
    font-size: 36px;
    margin-bottom: 35px;
    position: relative;
}



.skills-grid {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.skill {
    text-align: center;
}

.outer {
    width: 100px;
    height: 100px;
    background-color: #333;
    border-radius: 50%;
    position: relative;
    margin: 0 auto 20px;
}

.inner {
    width: 90px;
    height: 90px;
    background-color: #1b1f23;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff;
    font-size: 1.5em;
}

.number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: baseline;
}

.number span {
    color: #e91e63;
    font-size: 0.6em;
    margin-left: 2px;
}

.skill p {
    font-size: 1em;
}

.circle-bg {
    stroke: #00d4ff;
    fill: none;
    stroke-width: 10;
}

.circle {
    stroke: #e91e63;
    fill: none;
    stroke-width: 10;
    stroke-dasharray: 283;
    stroke-dashoffset: 283;
    transition: stroke-dashoffset 1s;
}
@media (max-width: 480px) {
    #professional-skills h2 {
        font-size: 28px;
        margin-bottom: 30px;
        position: relative;
    }
    .skills-grid {
        flex-wrap: wrap;
        justify-content: center;
    }

    .skill {
        flex-basis: calc(50% - 20px);
        margin-bottom: 20px;
    }

    .outer {
        width: 70px;
        height: 70px;
    }

    .inner {
        width: 60px;
        height: 60px;
    }

    .inner .number {
        font-size: 1em;
    }

    .skill p {
        font-size: 0.8em;
    }
}


/* Services */
.services {
    text-align: center;
    padding: 50px 0;
    margin-bottom: 20px;

}

.services h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #00d4ff;

}

.services h2 span {
    color: #e91e63;
}

.service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.service-box {
    border-radius: 10px;
    margin: 15px;
    padding: 20px;
    width: 300px;
    box-shadow: 
    1px 1px 2px rgba(0, 0, 0, 0.4), 
    -1px -1px 2px rgba(255, 255, 255, 0.8), 
    2px 2px 5px rgba(0, 0, 0, 0.5), 
    -2px -2px 5px rgba(255, 255, 255, 0.4), 
    0 0 7px 3px rgba(0, 212, 255, 0.8), 0 0 12px 6px rgba(0, 212, 255, 0.5); 
    transition: transform 0.3s;
    
}

.service-box:hover {
    transform: translateY(-10px);
}

.service-box .icon i{
    font-size: 40px;
    margin-bottom: 10px;
    color: #e91e63;    
}

.service-box h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.service-box p {
    font-size: 14px;
    margin-bottom: 20px;
}

.service-box .learn-more {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background: linear-gradient(135deg, #e91e63, #f48fb1); 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden; 
    transition: background 0.3s, transform 0.3s;
}

.service-box .learn-more:hover {
    background: #e91e63;
    transform: scale(1.05);
    box-shadow: 
    1px 1px 2px rgba(0, 0, 0, 0.4), 
    -1px -1px 2px rgba(255, 255, 255, 0.8), 
    4px 4px 8px rgba(0, 0, 0, 0.5), 
    -4px -4px 8px rgba(255, 255, 255, 0.4), 
    0 0 10px 5px rgba(0, 212, 255, 0.8), 0 0 20px 10px rgba(0, 212, 255, 0.5); 
}

.details {
    display: none;
    margin-top: 10px;
}

.learn-more {
    background-color: #00e5ff;
    color: #121212;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .service-box {
        width: 100%;
        max-width: 360px;
    }
}


#latest-project {
    padding: 20px;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    padding: 50px 0;

}

#latest-project h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #00d4ff;
    padding-bottom: 20px;
}

#latest-project h2 span {
    color: #e91e63;
}

.project-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.project-card {
    background-color: #3b3e45;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s;
    width: 342px;
    height: 280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 
    1px 1px 2px rgba(0, 0, 0, 0.4), 
    -1px -1px 2px rgba(255, 255, 255, 0.8), 
    2px 2px 5px rgba(0, 0, 0, 0.5), 
    -2px -2px 5px rgba(255, 255, 255, 0.4), 
    0 0 7px 3px rgba(0, 212, 255, 0.8), 0 0 12px 6px rgba(0, 212, 255, 0.5); 
   
   
}

.project-card img {
    width: 100%;
    height: 280px;
    display: block;
}

.project-card .project-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s;
    text-align: center;
    padding: 20px;
}

.project-card:hover .project-content {
    opacity: 1;
}

.project-content h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #00bcd4;
}

.project-content p {
    font-size: 1em;
    margin-bottom: 20px;
}

.project-link {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(135deg, #e91e63, #f48fb1); 
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
    margin-bottom: 20px;
}

.project-link:hover {
    box-shadow: 
    1px 1px 2px rgba(0, 0, 0, 0.4), 
    -1px -1px 2px rgba(255, 255, 255, 0.8), 
    4px 4px 8px rgba(0, 0, 0, 0.5), 
    -4px -4px 8px rgba(255, 255, 255, 0.4), 
    0 0 10px 5px rgba(0, 212, 255, 0.8), 0 0 20px 10px rgba(0, 212, 255, 0.5); 
}
@media (max-width: 768px) {
    .project-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .project{
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .project-grid {
        grid-template-columns: 1fr;
    }
}

/* Testimonial */
.testimonials-section {
    text-align: center;
    margin-bottom: 20px;
    padding-top: 45px; 
}
.testimonials-section h2{
    font-size: 36px;
    color: #00d4ff;
    padding-bottom: 8px;
    }
.testimonials-section h2 span{
    color: #e91e63;
}

.testimonials-section h3{
    color: #e91e63;
}
.testimonials-section i{
    color: #f0db4f;
}
.testimonials-container {
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.testimonial {
    display: none;
    width: 300px;
    padding: 20px;
    margin: 0 15px;
    box-shadow: 
    1px 1px 2px rgba(0, 0, 0, 0.4), 
    -1px -1px 2px rgba(255, 255, 255, 0.8), 
    2px 2px 5px rgba(0, 0, 0, 0.5), 
    -2px -2px 5px rgba(255, 255, 255, 0.4), 
    0 0 7px 3px rgba(0, 212, 255, 0.8), 0 0 12px 6px rgba(0, 212, 255, 0.5); 
    border-radius: 10px;
  
}
.testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: 
    1px 1px 2px rgba(0, 0, 0, 0.4), 
    -1px -1px 2px rgba(255, 255, 255, 0.8), 
    1px 1px 2px rgba(0, 0, 0, 0.5), 
    -2px -2px 4px rgba(255, 255, 255, 0.4), 
    0 0 5px 3px rgba(0, 212, 255, 0.8), 0 0 8px 4px rgba(0, 212, 255, 0.5); 
}

.nav-btn {
    background-color: #00e5ff;
    color: #fff;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    justify-self: unset;
    align-items: center;
}

.prev-btn {
    left: 115px;
}

.next-btn {
    right: 115px;
}
@media (max-width: 768px) {
    .testimonials-container {
        flex-direction: column;
    }
    .testimonial {
        width: 70%; 
        margin: 10px 0;
        height: auto; 
    }

    .nav-btn {
        position: absolute;
    }

    .prev-btn {
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
    }

    .next-btn {
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
    }
}

#contact {
    padding: 50px 0;
    
}

.contact-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.contact-container h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #00d4ff;
    padding-bottom: 20px;
   
}

.contact-container h2 span {
    color: #e91e63;
}
 
.contact-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
 
}

.error-message {
    display: none;
    background-color: #fce4ec;
    color: #f0ad4e;
    border: 1px solid #00d4ff;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 600;
    
}
.error-message h4 {
    margin: 0;
    font-size: 16px;
    color: #c2185b;
}


.contact-info, .contact-form {
    flex: 1;
    min-width: 250px;
    padding: 20px;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 
    1px 1px 2px rgba(0, 0, 0, 0.4), 
    -1px -1px 2px rgba(255, 255, 255, 0.8), 
    2px 2px 5px rgba(0, 0, 0, 0.5), 
    -2px -2px 5px rgba(255, 255, 255, 0.4), 
    0 0 7px 3px rgba(0, 212, 255, 0.8), 0 0 12px 6px rgba(0, 212, 255, 0.5); 
    height: 100%;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#map iframe {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.contact-details p i{
    margin: 0 10px;
    font-size: 24px;
    color: #fff;
    background-color: #e91e63;
    border-radius: 50%; 
    padding: 10px; 
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s;
    position: relative; 
    overflow: hidden;
    align-items: center; 
    justify-content: center; 
    box-shadow: 
        1px 1px 2px rgba(0, 0, 0, 0.3), 
        -1px -1px 2px rgba(255, 255, 255, 0.7), 
        3px 3px 6px rgba(0, 0, 0, 0.4),
        -3px -3px 6px rgba(255, 255, 255, 0.3); 
    width: 20px; 
    height: 20px; 
    font-size: 18px;
}

.contact-details p i:hover{
    transform: scale(1.2);
    color: #00d4ff; 
    background-color: #c2185b; 
    box-shadow: 
        1px 1px 2px rgba(0, 0, 0, 0.4), 
        -1px -1px 2px rgba(255, 255, 255, 0.8), 
        4px 4px 8px rgba(0, 0, 0, 0.5), 
        -4px -4px 8px rgba(255, 255, 255, 0.4), 
        0 0 10px 5px rgba(0, 212, 255, 0.8), 0 0 20px 10px rgba(0, 212, 255, 0.5); 
}
.contact-details p i:hover::before{
    background: radial-gradient(circle, rgba(0, 212, 255, 0.5), transparent 70%);
}
.contact-details p {
    font-size:15px;
    margin: 10px 0;
    display: flex;
    align-items: center;

}

.contact-details p i {
    margin-right: 10px;
    color: #00d4ff;
}

.contact-details p a {
    color: #00d4ff;
    text-decoration: none;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    background: #333;
    border-radius: 13px;
    padding: 10px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 1rem;
    border: 2px solid transparent;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.contact-form textarea {
    resize: none;
    height: 100px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border-color: transparent; 
    box-shadow: 0 0 10px 5px rgba(255, 69, 0, 0.8), 0 0 20px rgba(255, 69, 0, 0.6), 0 0 30px rgba(255, 69, 0, 0.4);
}
@keyframes fireEffect {
    0% {
        box-shadow: 0 0 10px 5px rgba(255, 69, 0, 0.8), 0 0 20px rgba(255, 69, 0, 0.6), 0 0 30px rgba(255, 69, 0, 0.4);
    }
    50% {
        box-shadow: 0 0 15px 10px rgba(255, 69, 0, 0.6), 0 0 30px rgba(255, 69, 0, 0.4), 0 0 40px rgba(255, 69, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 10px 5px rgba(255, 69, 0, 0.8), 0 0 20px rgba(255, 69, 0, 0.6), 0 0 30px rgba(255, 69, 0, 0.4);
    }
}

.contact-form input:focus,
.contact-form textarea:focus {
    animation: fireEffect 1.5s infinite;
}
@keyframes colorRotate {
    0% { border-color: rgba(255, 69, 0, 0.6); }
    50% { border-color: rgba(255, 140, 0, 0.6); }
    100% { border-color: rgba(255, 69, 0, 0.6); }
}

.contact-form input:focus,
.contact-form textarea:focus {
    animation: fireEffect 1.5s infinite, colorRotate 2s infinite;
}


.contact-form button {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background: linear-gradient(135deg, #e91e63, #f48fb1); 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden; 
    transition: background 0.3s, transform 0.3s;
    margin-bottom: 15px;
}

.contact-form button:hover {
    background: #c2185b;
    transform: scale(1.05);
    box-shadow: 
    1px 1px 2px rgba(0, 0, 0, 0.4), 
    -1px -1px 2px rgba(255, 255, 255, 0.8), 
    4px 4px 8px rgba(0, 0, 0, 0.5), 
    -4px -4px 8px rgba(255, 255, 255, 0.4), 
    0 0 10px 5px rgba(0, 212, 255, 0.8), 0 0 20px 10px rgba(0, 212, 255, 0.5); 
}

.popup-modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.modal-content {
    background-color: #1c1c1c;
    border-radius: 15px;
    padding: 30px 20px;
    position: relative;
    text-align: center;
    width: 80%;
    max-width: 450px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    animation: modalAppear 0.5s ease-out, borderAnimation 3s linear infinite;
}

.modal-body {
    font-size: 18px;
    color: #fff;
    margin-top: 30px;
    letter-spacing: 0.5px;
}

@keyframes modalAppear {
    from {
        opacity: 0;
        transform: translateY(-50px) scale(0.8);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes borderAnimation {
    0% {
        border-image-source: linear-gradient(90deg, #ff6f61, #ff9a76, #ff6f61);
        border-image-slice: 1;
    }
    50% {
        border-image-source: linear-gradient(90deg, #ff9a76, #ff6f61, #ff9a76);
        border-image-slice: 1;
    }
    100% {
        border-image-source: linear-gradient(90deg, #ff6f61, #ff9a76, #ff6f61);
        border-image-slice: 1;
    }
}

.modal-content::before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    border-radius: 15px;
    background: linear-gradient(90deg, #ff6f61, #ff9a76, #ff6f61);
    z-index: -1;
    filter: blur(15px);
    animation: gradientMove 5s ease infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.checkmark-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline-block;
    border: 5px solid transparent;
    position: relative;
    margin: 0 auto;
    background: conic-gradient(#4caf50, #81c784);
    
}


.checkmark {
    position: absolute;
    width: 30px;
    height: 15px;
    border-left: 5px solid #fff;
    border-bottom: 5px solid #fff;
    top: 30px;
    left: 22px;
    transform: rotate(-45deg);
    animation: checkmarkDraw 0.8s ease-out;
}

@keyframes checkmarkDraw {
    0% {
        width: 0;
        height: 0;
    }
    50% {
        width: 30px;
        height: 0;
    }
    100% {
        width: 30px;
        height: 15px;
    }
}

@media (max-width: 1200px) {
    .modal-content {
        width: 90%;
        padding: 20px;
    }

    .checkmark-circle {
        width: 60px;
        height: 60px;
    }

    .checkmark {
        width: 25px;
        height: 12px;
        top: 24px;
        left: 18px;
    }

    .modal-body {
        font-size: 16px;
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .modal-content {
        width: 95%;
        padding: 15px;
    }

    .checkmark-circle {
        width: 50px;
        height: 50px;
    }

    .checkmark {
        width: 20px;
        height: 10px;
        top: 20px;
        left: 15px;
    }

    .modal-body {
        font-size: 14px;
        margin-top: 15px;
    }
}
@media (max-width: 480px) {
    .modal-content {
        width: 600%;
        padding: 10px;
    }

    .checkmark-circle {
        width: 40px;
        height: 40px;
    }

    .checkmark {
        width: 15px;
        height: 8px;
        top: 16px;
        left: 12px;
    }

    .modal-body {
        font-size: 12px;
        margin-top: 10px;
    }
}


footer {
    text-align: center;
    padding-bottom: 0;
    padding-top: 10px;
    margin-top: 30px;
    margin-bottom: 0;
    
}
footer::before{
    content: "";
    display: block;
    width: 100%; 
    height: 4px;
    background: linear-gradient(to right, #e91e63 50%, #00d4ff 50%);
    border-radius: 12px;
}
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 10px; 
}

footer h1 {
    font-size: 24px;
    margin: 10px 0;
}

footer nav ul {
    list-style: none;
    padding: 0;
}

footer nav ul li {
    display: inline;
    margin: 0 15px;
}

footer nav ul li a {
    color: #e91e63;
    text-decoration: none;
}
footer nav ul li a:hover{
    color: #00d4ff;
    transition: 1s;
}
footer p {
    font-size: 14px;
}
footer p span {
    color: red;
}
@media (max-width: 768px) {
    .contact-container h2::after{
        width: 136px; 
        height: 4px;
        background: linear-gradient(to right, #e91e63 50%, #00d4ff 50%);
        margin-left: 37%;
        border-radius: 12px;
    }
    .contact-content {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 768px) {
    footer {
        padding: 15px 0;
    }

    .footer-container {
        padding-top: 5px; 
    }

    footer h1 {
        font-size: 20px;
        margin: 10px 0;
    }

    footer nav ul {
        padding: 0;
    }

    footer nav ul li {
        display: block;
        margin: 10px 0;
    }

    footer nav ul li a {
        font-size: 16px;
    }

    footer p {
        font-size: 10px;
        margin: 10px 0;
    }
}
